* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font: 1.2rem Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #2c6bf8, #6812cb );
  }
  .container{
    background-color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    height: 540px;
    width: 620px;
    border-radius: 15px;
    margin-top: 6rem;
  }
  .container h2{
    background-color: #003f7d;
    display: inline-block;
    color: #fff;
    width: 550px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
  }

  .quiz{
    text-align: left;
    padding: 2rem;
  }
  #result{
    font-weight: 600;
    color: #003f7d;
  }
  button{
    display: block;
    margin: 20px auto;
    width: 160px;
    padding-block: 10px;
    background: #003f7d;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
span{
    background-color:#c7797c ;
}